.contentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.codeSampleTextarea{
    height: 390px;
    padding: 12px 16px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    background-color: #333;
    border-radius: 8px;
    resize: none;
}

.widthHeightWrapper{
    width: 100%;
    display: flex;
    gap: 8px;
}

.widthHeightWrapper .inputContainer{
    width: calc(50% - 4px);
}

.checkboxWrapper{
    margin-top: 8px;
    display: flex;
    gap: 4px;
}
.checkboxWrapper input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.checkboxWrapper a{
    color: #333;
}

.inputsWrapper{
    width: 100%;
    display: flex;
    gap: 32px;
}

.leftColumn, .rightColumn{
    flex: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputContainer a{
    color: #333;
}
.inputContainer .description{
    color: #777;
}
.inputContainer input,
.inputContainer select{
    height: 40px;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 6px;
}
.inputContainer select{
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
}
.inputContainer input{
    padding: 0 8px;
}

@media only screen and (max-width: 600px) {
    .inputsWrapper{
        flex-direction: column;
        gap: 16px;
    }
    .leftColumn, .rightColumn{
        max-width: unset;
    }
}
