.contentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.codeSampleTextarea{
    height: 390px;
    padding: 12px 16px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    background-color: #333;
    border-radius: 8px;
    resize: none;
}

.widthHeightWrapper{
    width: 100%;
    display: flex;
    gap: 8px;
}

.widthHeightWrapper .fieldWrapper{
    width: calc(50% - 4px);
}

.checkboxWrapper{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.checkbox{
    display: flex;
    gap: 4px;
    cursor: pointer;
}
.checkbox input{
    width: 18px;
    height: 18px;
    margin-left: 0;
    cursor: pointer;
}
.checkbox a{
    color: #333;
}

.inputsWrapper{
    width: 100%;
    display: flex;
    gap: 32px;
}

.leftColumn, .rightColumn{
    flex: 1;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fieldWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fieldWrapper a{
    color: #333;
}
.description{
    color: #888;
    font-size: 15px;
    margin: 0;
}
.fieldWrapper input,
.fieldWrapper select{
    height: 40px;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 6px;
}
.fieldWrapper select{
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
}
.fieldWrapper input{
    padding: 0 8px;
}

@media only screen and (max-width: 650px) {
    .inputsWrapper{
        flex-direction: column;
        gap: 16px;
    }
    .leftColumn, .rightColumn{
        max-width: unset;
    }
}
